<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Twitter</title>
</head>

<body>
    <a href="{{ redirect_url }}" target="_blank"><button>連携する</button></a>
    <ul>
        {% for tweet in tweets %}
        <li class="tweet">{{ tweet.user.name }}(@ {{ tweet.user.screen_name }} ) : {{ tweet.text }} ☆{{
            tweet.favorite_count }} ↺{{
            tweet.retweet_count}}</li>
        {% endfor %}
    </ul>

</body>

</html>